<!DOCTYPE html>
<html>
<head>
{% block head %}
	<meta charset="UTF-8">
	<title>{% block title %}Palisade.Admin{% endblock %}</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
{% endblock %}
</head>
{% block navbar %}
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">Palisade</a>
			{% block nav_left%}
			{% endblock %}
			<ul  class="nav pull-right">
				<li>
					{% if session.logged_in %}
						<a href="{{ url_for('user.show_user') }}">{{ session.current_user}}</a>
					{% else %}
						<a href="#">Guest</a>
					{% endif %}
				</li>
				<li>
					<a href="{{ url_for('logout') }}">Logout</a>
				</li>
			</ul>						
		</div>
	</div>
{% endblock %}

{% block alert %}
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	{% endwith %}
{% endblock%}
<body>
{% block body %}
	<div class="container">
		{% block container %}		
		{% endblock %}
	</div>
{% endblock %}
</body>
</html>