{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block body %}
{{ super() }}
{% endblock %}

{% block container %}
	<form class="form-horizontal" method="post" action="{{ url_for('admin.add_user') }}">
		{{ render_field(form.first_name) }}
		{{ render_field(form.last_name) }}
		{{ render_field(form.login) }}
		{{ render_field(form.password) }}
		{{ render_field(form.password_confirm) }}
		{{ render_field(form.email) }}
		{{ render_field(form.traffic_limit) }}
		<input class="btn" type="submit" value="Save">
	</form>
{% endblock %}