{% extends "layout.html" %} 

{% block container %}
<a class="btn" href={{url_for('wpump.getit')}}>Download file</a>
<div id="content">
	<table class="table table-bordered table-spared" id="download_list">
		<thead>
			<tr>
				<th>URL</th>
				<th>Размер</th>
				<th>Статус</th>
				<th>Создан</th>
				<th>Выполнен</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
			<tr>
				<td>{{ task.url }}</td>
				<td>{{ task.size }}</td>
				<td>{{ task.state }}</td>
				<td>{{ task.created_on }}</td>
				<td>{{ task.size_completed }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<br>
	<br>

	<div id="debug">{{ debug }}</div>
</div>
{% endblock %}
