{% extends "user/layout.html" %} 

{% block container %}
<a class="btn" href={{url_for('wpump.download')}}>Download file</a>
<div id="content">
	<table class="table table-bordered table-spared" id="download_list">
		<thead>
			<tr>
				<th>URL</th>
				<th>Размер</th>
				<th>Статус</th>
				<th>Создан</th>
				<th>Выполнено(%)</th>
			</tr>
		</thead>
		<tbody>
			{% for download in downloads%}
			{% if download.state.name == 'SUCCESS' %}
				<tr class="success">
			{% elif download.state.name == 'REJECTED' %}
				<tr class="warning">
			{% elif download.state.name == 'ACTIVE' %}
				<tr class="info">				
			{% elif download.state.name == 'FAILURE' %}
				<tr class="error">
			{% else %}
				<tr>
			{% endif %}
				<td>
					<span title={{ download.url }}>
						{{ download.url|truncate(length=50, killwords=True) }}
					</span>
				</td>
				<td>{{ download.bytes|filesizeformat}}</td>
				<td>{{ download.state.name|capitalize }}</td>
				<td>{{ download.created_on }}</td>
				{% if download.bytes == 0 %}
					<td>0%</td>
				{% else %}
					<td>{{ (download.bytes_completed/download.bytes*100)|round(0, 'floor') }}%</td>
				{% endif %}
				{% if session.is_admin == True %}
					<td><a class="btn btn-mini"
						href="{{ url_for('wpump.dispatch', download_id=download.id, action='reject') }}"><i
							class="icon-ban-circle"></i></a> <a class="btn btn-mini"
						href="{{ url_for('wpump.dispatch', download_id=download.id, action='accept') }}"><i
							class="icon-ok"></i></a> <a class="btn btn-mini"
						href="{{ url_for('wpump.dispatch', download_id=download.id, action='delete') }}"><i
							class="icon-trash"></i></a>
					</td>
				{% endif %}
			</tr>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<br>
	<br>

	<div id="debug">{{ debug }}</div>
</div>
{% endblock %}
