{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block body %}
{{ super() }}
{% endblock %}

{% block container %}
<p>Edit properties for user {{ form.login.data }}</p>

	<form class="form-horizontal" method="post" action="{{ url_for('admin.edit_user') }}">
		{{ render_field(form.first_name) }}
		{{ render_field(form.last_name) }}		
		{{ render_field(form.password) }}
		{{ render_field(form.password_confirm) }}
		{{ render_field(form.traffic_limit) }}
		<input class="btn" type="submit" value="Add">
	</form>
{% endblock %}