<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Palisade.Admin{% endblock %}</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
</head>
{% block navbar %}
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">Palisade</a>
			<ul class="nav">
				<li class="active"><a href="{{ url_for('.show_users') }}">Users</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block alert %}
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	{% endwith %}
{% endblock%}
<body>
{% block body %}
	<div class="container">
		{% block container %}		
		{% endblock %}
	</div>
{% endblock %}
</body>
</html>