{% extends "layout.html" %}
{% block title %}Palisade.Admin.Users{% endblock %}

{% block body %}	
	{{ super() }}
{% endblock %}

{% block container %}
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Status</th>
			<th>Limit MB</th>		
		</tr>
	</thead>	
	<tbody>
		{% for user in users %}
			{% if user.status == 'A' %}
				<tr class="success">
			{% else %}
				<tr class="error">
			{% endif %}
				<td>{{ user.first_name }}</td>
				<td>{{ user.last_name }}</td>
				<td>{{ user.status }}</td>
				<td>{{ user.traffic_limit }}</td>
			</tr>
		{% endfor %}
	</tbody>		
</table>
{% endblock %}
